{{ define "home" }}
<div id="app-root"></div>
<script>window.__initial_state__ = {
        page: {
            config: {
                regions: {
                    main: ['Intro'],
                }
            }
        }
    };</script>
{{ end }}
