{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "Chrome > 69"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
