{{ define "base" }}
<!doctype html>
<html lang="en-US">

<head>
    {{/* I'm a comment */}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
    {{ range .Metatags }}
    {{ . }}
    {{ end }}
    <title>{{ .Title }}</title>
    {{ range .Linktags }}
    {{ . }}
    {{ end }}
</head>

<body>
    {{ .Main }}
</body>

</html>
{{ end }}
