.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 30px);

  --container-height-large: 300px;
}

.container {
  width: 50%;
  box-sizing: border-box;
}

.title {
  height: var(--container-height-large);
}

.profile {
  height: var(--container-height-large);
}


@media (max-width: 800px) {
  .root {
    height: calc(100vh - 50px);
  }

  .container {
    width: 100%;
  }

  .title {
    height: auto;
  }

  .profile {
    height: 50%;
  }
}
